@import "./checkout/variables";
@import "./checkout/orderDetails";
@import "./checkout/purchaseInformations";

@mixin inputField($width) {
    background: white;
    padding: 6px 10px;
    border-radius: $checkout-border-radius;
    margin: 20px $input-field-margin;
    margin-left: 0;
    margin-top: 0;
    box-shadow: 0 2px 1px $shadow-color;
    height: 55px;
    font-weight: 700;
    width: calc(#{$width} - #{$input-field-margin});
    padding-left: 6px;

    label {
        padding-left: 6px;
    }

    %input {
        width: 100%;
        padding: 4px;
        border: 0;
        font-family: $roboto-font;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        @extend %input;
        color: #a3a3a3;
    }

    select {
        @extend %input;
        padding-left: 0;
    }

    input:focus {
        color: darkgray;
    }
}

* {
    box-sizing: border-box;
}

.checkout {
    @include displayFlexRow(wrap);
    font-family: $roboto-font;
    background: $background-color;
    padding: 0 4%;

    form {
        @include displayFlexRow(wrap);
        margin-left: 45px;
        width: 100%;
    
        div:last-of-type {
            margin-bottom: 0;
        }

        .input-field-small {
            @include inputField(50%);
            display: inline-block;
        }
        
        .input-field-big {
            @include inputField(100%);
        }
    }

    .title-number {
        font-weight: 800;
        font-size: 16px;
        text-align: center;
        color: white;
        background-color: black;
        border-radius: 50%;
        margin: 25px 10px;
        padding: 2px;
        width: $title-number-width;
        height: $title-number-width;
    }

    h1 {
        font: 14px $font-title;
        color: black;
        vertical-align: baseline;
        padding: 3.5px;
        height: 25px;
        margin: 25px 0;
        width: 80%;
    }
}

.personal-information {
    @include displayFlexRow(wrap);
    width: $main-sections-width;
    height: 300px;
}

.payment-details {
    @include displayFlexRow(wrap);
    width: $main-sections-width;
}

@media only screen and (max-width: 600px) {
    .checkout form {
        margin-left: 10px;
    }

    .personal-information,
    .payment-details {
        width: 100%;
    }
}